<%-include('cabecalho.ejs')%>

<form method="POST" enctype="multipart/form-data">
    Id:<input type="text" name="txtId" readonly value="<%=Usuario._id%>">
    Nome: <input type="text" name="txtNome" placeholder="Nome" value="<%=Usuario.nome%>"><br>
    Tipo: <input type="text" name="txtEmail" placeholder="Tipo" value="<%=Usuario.email%>"><br>
 Foto: <input type="file" name="txtFoto"> <br>
    <input type="submit" name="Adicionar">
</form>
<%-include('rodape.ejs')%>